$bgcolor : rgb(236, 236, 236);
$bgcolorA : rgba(236, 236, 236, 0.8);
$fontcolor:rgb(31, 31, 31);
$fontcolorH:rgb(92, 208, 243);
$fontcolorG:rgb(121, 121, 121);
$colortheme:rgb(74, 188, 223);
$colorthemeL:rgb(175, 217, 230);
$colorthemeH:rgb(11, 147, 238)